

h1{

    color: purple;
}

h3{
 
    color: wheat;
}

body{
    width:100%;

    background-color: crimson;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: fit-content;
}
